.block {
  border-style: solid;
  border-width: 0;
  display: block;
  min-height: 32px;
  margin: 0 auto;

  .container {
    align-items: center;
    display: flex;
    height: 100%;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 0 auto;
    max-width: var(--defaults--container-width);
    width: 100%;
  }

  .column {
    overflow: hidden;
    position: relative;
    width: 100%;

    &::after {
      border: 1px dashed var(--defaults--color__guru);
      content: '';
      display: none;
      height: 100%;
      position: absolute;
      pointer-events: none;
      top: 0;
      right: 0;
      width: 100%;
      z-index: 1;
    }

    &:hover {
      &::after {
        display: block;
      }
    }
  }
}