.block {
  border-style: solid;
  display: block;
  min-height: 80px;
  margin: 0 auto;

  .container {
    align-items: center;
    display: flex;
    height: 100%;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 0 auto;
    max-width: var(--defaults--container-width);
    width: 100%;
  }

  .column {
    overflow: hidden;
    width: 100%;
  }
}