// Image select
.imageSelect {
  display: flex;
  gap: 12px;

  .option {
    border: 2px solid transparent;
    cursor: pointer;
    line-height: 1;
    margin: 0;
    padding: 0;
    width: 33.33%;

    img {
      height: 100%;
      margin: 0;
      padding: 0;
      width: 100%;
    }
  }

  .active {
    border-color: rgba(black, 0.6);
    border-radius: 6px;
    box-shadow: 0 0 0 3px rgba(black, 0.06);
    overflow: hidden;
  }
}

// Image upload
.imageUpload {
  position: relative;

  input[type=file] {
    cursor: pointer;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    text-indent: -9999px;
    width: 100%;
    z-index: 1;
  }

  span {
    margin-left: 8px;
  }
}

