// Image select
.imageSelect {
  display: flex;
  gap: 12px;

  .option {
    align-items: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
    width: 33.33%;

    .image {
      align-items: center;
      border: 2px solid transparent;
      border-radius: 6px;
      justify-content: center;
      display: flex;
      overflow: hidden;
      width: 100%;

      img {
        position: relative;
        top: 0.5px;
        width: 100%;
      }
    }

    .label {
      background: #f2f2f2;
      border-radius: 12px;
      display: inline-flex;
      font-size: 0.75rem;
      margin-top: 6px;
      padding: 2px 8px;
    }

    .active {
      border-color: rgba(black, 0.6);
      box-shadow: 0 0 0 2px rgba(black, 0.1);
    }
  }
}

// Image upload
.imageUpload {
  border: 1px solid var(--defaults--color__grey);
  font-size: 0.875rem;
  margin: 4px 0;
  position: relative;

  input[type=file] {
    cursor: pointer;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    text-indent: -9999px;
    width: 100%;
    z-index: 1;
  }

  span {
    margin-left: 8px;
  }

  img {
    width: 100%;
  }
}
