.title {
  border-style: solid;
  border-width: 0;
  overflow: hidden;
  position: relative;

  .container {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    max-width: var(--defaults--container-width);
    height: 100%;
  }

  p {
    line-height: 1.125;
    margin: 12px 0;
    padding: 0;
  }
}