.modules {
  position: relative;
  width: 100%;

  .options {
    border: 4px solid var(--defaults--guru);
    display: none;
    height: 100%;
    left: 0;
    position: absolute;
    text-align: left;
    top: 0;
    width: 100%;
    z-index: 20;

    button {
      border-radius: 0;

      &:last-child {
        border-bottom-right-radius: 4px;
      }
    }
  }

  .active {
    display: block;
  }
}