.slider {
  border-style: solid;
  height: 700px;
  overflow: hidden;
  position: relative;

  .container {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1240px;
    overflow: hidden;
    position: relative;
    width: 100%;
  }

  .item {
    background: no-repeat center center;
    background-size: cover;
    display: flex;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}
